<html xmlns:th="https://thymeleaf.org">

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Offers Page</title>
</head>
<body>
<h1 style='color:red;text-align:center'>Offers Page </h1>
             Home Loan ROI::9.60%<br>
                Bike Loan ROI::10.60%<br>
                   Car Loan ROI::11.60%<br>
                      Personal Loan ROI::12.60%<br><br><br>
                      <a th:href="./">Home</a><br>
                       <a th:href="signout">Logout</a>
                      
</body>
</html>