<html xmlns:th="https://thymeleaf.org">


<h1 style='color:red;text-align:center'>Offers Page </h1>
<ul style='color:blue;text-align:center'>
       <li>      Home Loan ROI::9.60%</li>
           <li>     Bike Loan ROI::10.60%</li>
                 <li>  Car Loan ROI::11.60%</li>
                     <li> Personal Loan ROI::12.60%</li>
                      
                      </ul>
                      <a th:href="@{/bank/}">Home</a><br>
                       <a th:href="@{signout}">Logout</a>
                      

</html>